.imagen1 {
    display: block;
    margin: auto;
    width: 100px;
    height: 146.37px;
    }
header{
    background-color:#E6E6E6 ;
}

h1 {
    background-color: #C4C4C4;
    font-family: Times New Roman;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;    
    text-align: center;
    color: #005677;
    letter-spacing: 5px;
    line-height: 50px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 17px;
    color: #005677;
    background-color: #C4C4C4;
    letter-spacing: 5px;
    line-height: 40px;
}
li em {
    font-weight: bold;
  }
dl dt {
    font-weight: bold;
}
p{
    background-color: #005677;
    font-weight: 700px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}
.imagen2 {
    width: 20px;
    height: auto;
}